@use '../../styles/colors'; 
@use '../../styles/mixins'; 
@use '../../styles/medias' as *;

.random_dog {
  @include mixins.pageStyle();
  gap: 10px;
}

.title {
  font-size: 2em;
  color: colors.$text-primary;

  @include media("phone") {
    font-size: 1.2em;
  }
}

.refresh_button {
  @include mixins.buttonStylePrimary();
  padding: 8px 10px;
  font-weight: 500;
}

.alert_message {
  font-size: 1em;
  color: colors.$text-alert;
}

.dog_image_container {
  max-width: 500px;
  overflow: hidden;
  border-radius: 4px;

  .image_box {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

// Dark theme
.random_dog[data-theme="dark"] {
  .title {
    color: colors.$text-primary-dark;
  }
  
  .refresh_button {
    @include mixins.buttonStylePrimaryDark();
  }
}