@use '../../styles/colors'; 
@use '../../styles/mixins'; 
@use '../../styles/medias' as *;

.reference_link_box {
  @include mixins.displayFlex();
  border: 1px solid colors.$input-border-primary-selected;
  border-radius: 6px;
  background-color: colors.$input-bg-primary;
  max-width: 400px;
  
  @include media("tablet") {
    width: 100%;
  }

  .text_box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    
    .reference_link {
      color: colors.$input-text-primary;
      font-size: .875em;
      padding: 2px 4px;
      font-weight: 500;
  
      @include media("phone") {
        font-size: .7em;
      }
    }
  }

  .copy_button {
    width: 26px;
    height: 100%;
    padding: 4px;
    border: none;
    background-color: colors.$button-bg-primary;
    border-radius: 4px;
    cursor: pointer;
    @include mixins.displayFlex();

    &:hover {
      background-color: colors.$button-bg-primary-hovered;
    }

    @include media("phone") {
      width: 24px;
    }

    img {
      @include mixins.whiteFilter();
    }
  }
}

// Dark theme
.reference_link_box {
  border: 1px solid colors.$input-border-primary-selected-dark;
  background-color: colors.$input-bg-primary-dark;

  .text_box {   
    .reference_link {
      color: colors.$input-text-primary-dark;
  
    }
  }

  .copy_button {
    background-color: colors.$button-bg-primary-dark;

    &:hover {
      background-color: colors.$button-bg-primary-hovered-dark;
    }

    img {
      @include mixins.whiteFilter();
    }
  }
}
