@use '../../styles/colors'; 
@use '../../styles/mixins'; 
@use '../../styles/medias' as *;

.cat_api {
  @include mixins.pageStyle();
  gap: 25px;
}

.field {
  @include mixins.displayFlex();
  flex-direction: column;
  user-select: none;

  label {
    font-size: 1.2em;
    font-weight: bold;
  }

  .input_box {
    width: 150px;
    @include mixins.displayFlex();
    padding: 5px 10px;
    background: colors.$input-background-primary;
    border: 1px solid colors.$input-border-primary;
    border-radius: 4px;

    &:has(> input:focus) {
      border-color: colors.$input-border-primary-selected;
    }

    input {
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 1em;
      width: 100%;
    }

    img {
      width: 20px;
    }
  }
}

.cat_image_container {
  max-width: 500px;
  overflow: hidden;
  border-radius: 4px;

  .image_box {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
