@use '../../styles/colors'; 
@use '../../styles/mixins'; 
@use '../../styles/medias' as *;

.clients_registration {
  @include mixins.pageStyle();
  position: relative;
}

.list_container {
  margin-top: 40px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-template-rows: repeat(auto-fill, 100px);
  gap: 50px;
  width: 100%;
  max-width: 1280px;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
}

.client_card {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s ease-out;
  justify-self: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-color: colors.$modal-bg-primary;
  box-shadow: colors.$light-shadow;
  @include mixins.displayFlex(flex-start, flex-start);
  gap: 10px;

  &:hover {
    width: 110%;
    height: 110%;
  }

  .img_box {
    width: 60px;
    height: 60px;

    img {
      width: 100%
    }
  }

  .profile {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 

    .name {
      color: colors.$text-primary-highlighted;
      font-size: 1em;
    }

    .email {
      font-size: .875em;
      color: colors.$text-secondary;
    }
  }
}

.add_button {
  @include mixins.displayFlex();
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 65px;
  height: 65px;
  padding: 10px;
  border-radius: 100%;
  background-color: colors.$button-bg-primary;
  cursor: pointer;
  transition: .3s;
  border: none;
  
  &:hover {
    background-color: colors.$button-bg-primary-hovered;
  }

  img {
    @include mixins.whiteFilter();
  }
}

// Dark Theme
.clients_registration[data-theme="dark"] {
  .client_card {
    background-color: colors.$modal-bg-primary-dark;

    .profile {
      .name {
        color: colors.$text-primary-highlighted-dark;
      }
  
      .email {
        color: colors.$text-secondary-dark;
      }
    }
  }
  .add_button {
    background-color: colors.$button-bg-primary-dark;
    
    &:hover {
      background-color: colors.$button-bg-primary-hovered-dark;
    }
  
    img {
      @include mixins.whiteFilter();
    }
  }
}

/*------------------- CLIENT MODAL -------------------*/

.client_modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  transition: .3s ease-out;
  opacity: 0;
  background: colors.$medium-shadow;
  z-index: 1002;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.responsive_box_relative {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;

  .responsive_box_absolute {
    position: absolute;
    top: 16px;
    width: 100%;
    @include mixins.displayFlex();
    
  }
}


.form {
  position: relative;
  background: colors.$modal-bg-primary;
  width: 400px;
  @include mixins.displayFlex();
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  padding: 20px;
  
  .close_button {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: colors.$button-bg-close;
    padding: 4px;
    cursor: pointer;

    img {
      @include mixins.whiteFilter();
    }
  }

  .person_icon_box {
    width: 100px;
    height: 100px;
    position: relative;

    .change_person_icon_button {
      position: absolute;
      width: 25px;
      height: 25px;
      padding: 5px;
      border-radius: 100%;
      border: none;
      bottom: 0px;
      right: 0px;
      margin: 8px;
      background-color: colors.$modal-bg-primary;
      cursor: pointer;
    }
  }

  .field {
    width: 100%;

    .title {
      text-align: center;
      font-size: 1em;
      margin-bottom: 4px;
      color: colors.$modal-text-primary;
    }

    input {
      width: 100%;
      padding: 6px 10px;
      font-size: 1em;
      outline: none;
      border: 1px solid colors.$input-border-primary;
      border-radius: 4px;
      background-color: colors.$input-bg-primary;
      color: colors.$input-text-primary;

      &:focus {
        border-color: colors.$input-border-primary-selected;
      }
    }
  }

  .options {
    @include mixins.displayFlex(space-around);
    width: 100%;

    .button {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: none;
      padding: 5px;
      cursor: pointer;

      img {
        @include mixins.whiteFilter();
        width: 100%;
      }
    }

    .button.edit {
      background-color: colors.$button-bg-primary;
    }

    .button.delete {
      background-color: colors.$button-bg-close;
    }
  }
}

// Dark theme
.client_modal[data-theme="dark"] {
  .form {
    background-color: colors.$modal-bg-primary-dark;
    
    .close_button {
      img {
        @include mixins.whiteFilter();
      }
    }
  
    .person_icon_box {
      .change_person_icon_button {
        background-color: colors.$modal-bg-primary-dark;

        img {
          @include mixins.whiteFilter();
        }
      }
    }
  
    .field {
      .title {
        color: colors.$modal-text-primary-dark;
      }

      input {
        border: 1px solid colors.$input-border-primary-dark;
        background-color: colors.$input-bg-primary-dark;
        color: colors.$input-text-primary-dark;
  
        &:focus {
          border-color: colors.$input-border-primary-selected-dark;
        }
      }
    }
  
    .options {
      .button {
        img {
          @include mixins.whiteFilter();
        }
      }
  
      .button.edit {
        background-color: colors.$button-bg-primary-dark;
      }
    }
  }
}