$main-bg: #F4F7FA;
$text-primary: #161C2D;
$text-secondary: #494e5c;
$text-primary-highlighted: #00A2A2;
$button-bg-close: rgb(255, 37, 37);
$button-bg-close-hovered: rgb(223, 7, 7);
$button-bg-primary: #00A2A2;
$button-bg-primary-hovered: #017c7c;
$button-text-primary: #fff;
$modal-bg-primary: #fff;
$input-bg-primary: #fff;
$input-border-primary: #d4d4d4;
$input-border-primary-selected: #00A2A2;

$toast-text-color: #fff;
$toast-error-color: rgb(255, 37, 37);
$toast-success-color: rgb(73, 255, 37);
$text-error: rgb(255, 37, 37);
$text-alert: rgb(197, 157, 13);
$text-highlighted: rgb(255, 80, 80);
$light-shadow: rgba(0, 0, 0, 0.2);
$medium-shadow: rgba(0, 0, 0, 0.5);