$main-background: #F4F7FA;
$text-primary: #161C2D;
$text-secondary: #494e5c;
$text-primary-hovered: #00A2A2;
$text-error: rgb(255, 37, 37);
$text-highlighted: rgb(255, 80, 80);
$background-close-button: rgb(255, 37, 37);
$light-shadow: rgba(0, 0, 0, 0.2);
$medium-shadow: rgba(0, 0, 0, 0.5);
$background-button-primary: #00A2A2;
$background-button-primary-hovered: #017c7c;
$text-button-primary: #fff;
$input-background-primary: #fff;
$input-border-primary: #d4d4d4;
$input-border-primary-selected: #00A2A2;